.data-column {
    display: flex;
    border: 1px solid #183a79;
    background-color: #3e67b3;
}

.data-column span {
    width: 100%;
    align-self: flex-end;
    text-align: center;
    color: #d6d6d6
}

.data-dot {
    display: flex;
    border: 1px solid #183a79;
    background-color: #3e67b3;
    border-radius: 50%;
}



.datastatus-modify {
    border: 1px solid #791818 !important;
    background-color: #b33e3e !important;
}

.datastatus-scan {
    border: 1px solid #464646 !important;
    background-color: #8d8d8d !important;
}

.datastatus-highlight {
    border: 1px solid #04881a !important;
    background-color: #2f8f3f !important;
}
