* {
    font-family: Raleway;
}

body {
    background-color: #4b4b4b;
    margin: 0;
    padding: 0;
}

.center {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.app-container {
    height: 100vh; 
    width: 100vw;
}

.ui-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.data-container {
    display: flex;
    align-items: flex-end; 
    border: 1px solid white;
    width: 50vw;
    height: 50vh;
    overflow: auto;
    overflow-y: hidden;
}

/* phones */
@media only screen and (max-width: 767px) {
    .data-container {
        width: 95vw;
        height: 50vh;
    }
}

.toolbar-group {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.option-group {
    display: inline-block;
}

.speed-icon {
    width: 2em;
}

.button {
    background-color: #577eb1;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5em;
}
.button:hover {
    background-color: #3e6eac;
}

.algorithm-select {
    border-radius: 0.5em;
    text-align: center;
    height: 2em;
    font-size: 0.9em;
}

.data-size-container {
    color: white;
    margin-left: 1em;
}

.data-size-input {
    width: 4em;
    border-radius: 2em;
    font-size: 1em;
    text-align: center;
}